/*
  ========================================================
  1. Global
  2. Typography
  3. Components
  4. Structure
  5. Responsive Design
  ========================================================
*/

/* Global
======================================================== */

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

/* Typography
======================================================== */

h1 {
  margin-bottom: 2rem;
}

h1, h2, h3, p, button, li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, p, li {
  line-height: 3rem;
}

.App-link {
  color: #61dafb;
}

.title {
  margin-top: 5rem;
}

.card-link {
  text-decoration: none;
}
.card-link:visited {
  color: black;
}

.center {
  text-align: center;
}

.paragraph {
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}

/* Components
======================================================== */

.btn {
  padding: 1rem;
  margin: 1rem;
  width: 12rem;

  display: block;

  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem black;

  background-color: hsl(40, 20%, 90%);

  cursor: pointer;
}
.btn:hover {
  transform: scale(105%);
}

.resume-btn {
  text-decoration: none;
  color: black;
  width: 10rem;
}

.primary-btn {
  background-color: hsl(40, 50%, 70%)
}

.banner {
  height: 20rem;
  width: 50rem;
  margin: 1rem auto;
  background-color: hsl(40, 50%, 75%);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.banner:hover {
  background-color: hsl(40, 20%, 80%);
  transform: scale(105%);
}

/* Structure
======================================================== */

  /* App containers */

.app {
  display: flex;
  flex-direction: row;
}

.app-header {
  background-color: hsl(40, 50%, 10%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 20vw;
  padding: 1rem;
}

.app-body {
  width: 80vw;
  background-color: hsl(40, 10%, 90%);
  padding: 2rem;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card-img-container {
  background-color: hsl(40, 50%, 80%);
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 20rem;
  border: 0.1rem solid black;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: hsl(40, 50%, 90%);
}
.card:hover {
  transform: scale(102%);
}

.card-img {
  width: 40rem;
  display: block;
  margin: 0 auto;
  opacity: 0.5;
}
.card-img:hover {
  opacity: 1;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  width: 50rem;
  padding: 2rem;
}

hr {
  width: 90%;
  margin: 2rem;
}

/* Responsive Design
======================================================== */

@media only screen and (max-width: 480px) {
  .app {
    flex-direction: column;
    max-height: 20vh;
  }

  .app-header {
    width: 100vw;
    height: 20vh;
  }

  .app-body {
    width: 100vw;
  }

  .button-container {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: 90%;
  }

  h1 {
    padding: 0;
    margin: 0;
  }
}