/* Global
======================================================== */

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

/* Typography
======================================================== */

h1 {
  margin-bottom: 2rem;
}

h1, h2, h3, p, button, li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App-link {
  color: #61dafb;
}

.title {
  margin-top: 5rem;
}

/* Components
======================================================== */

button {
  padding: 1rem;
  margin: 1rem;
  width: 10rem;

  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem black;

  background-color: hsl(210, 70%, 90%);

  cursor: pointer;
}



/* Structure
======================================================== */

.App {
  text-align: center;
  display: flex;
}

.App-header {
  background-color: hsl(210, 50%, 10%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 20vw;
  padding: 1rem;
}

.app-body {
  width: 80vw;
  background-color: hsl(210, 10%, 90%);
  padding: 2rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: hsl(210, 50%, 80%);
  width: 20rem;
  height: 20rem;
}

.card-frame {
  border: 0.1rem solid black;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.banner {
  height: 20rem;
  width: 45%;
  margin: 1rem auto;
  background-color: hsl(210, 20%, 80%);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
