/* Global
======================================================== */

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

/* Typography
======================================================== */

.App-link {
  color: #61dafb;
}

/* Components
======================================================== */

button {
  padding: 1rem;
  margin: 1rem;
  width: 10rem;

  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem black;

  background-color: hsl(210, 70%, 90%);

  cursor: pointer;
}

/* Structure
======================================================== */

.App {
  text-align: center;
  display: flex;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 20vw;
}

.app-body {
  width: 80vw;
  background-color: hsl(210, 10%, 90%);
  padding: 2rem;
}


